
body {
    position: relative;

    #tv {
        .main-pic {
            width: 100%;
            // z-index: 2;
        }
    
        #video {
            img {
                position: absolute;
                top: 190px;
                left: 225px;
                z-index: -1;
                width: 250px;
                // display: none;
            }
        }
    }
    
    #cha {
        width: 26%;
        height: 37%;
        position: absolute;
        top: 40%;
        left: 31%;

        // background: chocolate;
        // opacity: .5;

        #num {
            display: flex;
            justify-content: flex-end;

            // background: chocolate;
            // opacity: .5;
            padding-right: 12%;
            padding-top: 5%;

            // animation-name: dot;
            // animation-duration: 1s;
            // animation-iteration-count: infinite;
        
            @keyframes dot {
                0%{
                    opacity: 0;
                }
                7%{
                    opacity:1;
                }
                100%{
                    opacity: 1;
                }
            }

            .num {
                border: none;
                background: none;
        
                // background: chocolate;
                // opacity: .5;
        
                width: 12%;
                height: 25%;
        
                text-align: center;
                font-family: 'Orbitron', sans-serif;
                color: rgb(30, 230, 4);
                font-weight: 700;
                font-size: 3vw;
            }

            // #tens-num {
            // }
            // #units-num {
            // }
        }

        #video {
            position: absolute;
            top: 0;
            height: 100%;
            z-index: -2;

            img {
                // opacity: .5;
                height: 100%;
            }
        }

        #default {
            position: absolute;
            top: 0;
            height: 100%;
            z-index: -3;

            img {
                // opacity: .5;
                height: 100%;
            }
        }
    }
}


