
body {
    position: relative;

    #greeting {
        position: absolute;
        top: 10%;
        left: 10%;
        color: #FFF;
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 4px;
        
        p {
            font-size: 2vw;
        }
    }

    #descripe {
        position: absolute;
        bottom: 20%;
        right: 5%;
        color: #FFF;
        font-family: 'Orbitron', sans-serif;
        letter-spacing: 4px;
        
        p {
            font-size: 1vw;
        }
    }

    #tv {
        .main-pic {
            width: 100%;
        }
    }
    
    #cha {
        width: 26%;
        height: 37%;
        position: absolute;
        top: 39%;
        left: 31%;

        #num {
            display: flex;
            justify-content: flex-end;

            padding-right: 12%;
            padding-top: 5%;

            // animation-name: dot;
            // animation-duration: 1s;
            // animation-iteration-count: infinite;
        
            // @keyframes dot {
            //     0%{
            //         opacity: 0;
            //     }
            //     7%{
            //         opacity:1;
            //     }
            //     100%{
            //         opacity: 1;
            //     }
            // }

            .num {
                border: none;
                background: none;
        
                width: 12%;
                height: 25%;
        
                text-align: center;
                font-family: 'Orbitron', sans-serif;
                color: rgb(30, 230, 4);
                font-weight: 700;
                font-size: 3vw;
            }
        }

        #video {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: -2;

            display: flex;
            justify-content: center;
            align-items: center;

            iframe {
                width: 250%;
                height: 220%;
                border: none;
            }
        }

        #default {
            position: absolute;
            top: 0;
            height: 100%;
            z-index: -3;

            img {
                height: 100%;
            }
        }
    }
}


